

/*
Accordion Effect Starts
.accordion {
    border: 0px none;
}

.accordion-title {
    font-size: 1.25em;
    border: 0px none;
}

.accordion-subtitle {
    border: 0px none;
}

.accordion-item {
    border: 0px none;
}

.accordion-content {
    border: 0px none;
}

*/

